In [2]:
import os
import sys
import pandas as pd
import torch
from torch.utils.data import Dataset
from transformers import BertTokenizer
sys.path.insert(0, '../')
from typing import Tuple, Dict
from config import Config, PreTrainedType, PreProcessType
from dataset import load_data, REDataset
from tokenization import load_tokenizer, tokenize
from tokenization import SpecialToken as ST
from preprocessing import preprocess_text

tokenizer = BertTokenizer.from_pretrained(PreTrainedType.MultiLingual)

In [7]:
tokenizer = load_tokenizer(PreProcessType.EM)

Load Tokenizer...	done!

In [10]:
sentence = '영국에서 사용되는 스포츠 유틸리티 [E2]자동차[/E2]의 브랜드로는 [E1]랜드로버[/E1](Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.'
tokenize(sentence, tokenizer, PreProcessType.EM)

{'input_ids': tensor([[   101,  50266,  11489,   9405,  24974,  24683,   9477,  90578,   9625,
         119376,  12692,  45725, 119549,   9651,  99183, 119550,   9637,   9376,
          42771,  70186, 119547,   9167,  15001,  11261,  41605, 119548,    113,
          12001,  57836,    114,   9590,   9706,  28396,    113,  13796,  19986,
            114,   8843,  22634,    117,   9638,   9376,  42771,  22879,   9651,
          99183,  10459,   9684,  46520,  11513,   9641, 119298,  11018,   9251,
          11261,   9405,  24974, 118800,  27792,  16139,    119,    102]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])}

In [5]:
data = REDataset(preprocess_type=PreProcessType.EMSP)

Load raw data...	preprocessing for 'EntityMarkerSeparationPositionEmbedding'...	done!
Load Tokenizer...	done!

In [2]:
raw = load_data(Config.Train)
raw.head(3)

,relation_state,e1,e1_start,e1_end,e2,e2_start,e2_end,label
0,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,30,33,자동차,19,21,17
1,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,5,7,27석,42,44,0
2,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,0,7,UEFA,9,12,6

In [24]:
class foo:
    def __repr__(self):
        return 'asdf'

In [25]:
temp = foo()

In [26]:
temp

asdf

In [23]:
print(temp)

asdf

In [4]:
data = preprocess_text(raw, method=PreProcessType.EMSP)

In [9]:
tokenizer = load_tokenizer(type=PreProcessType.EMSP)

Load Tokenizer...	done!

In [30]:
sample = data['input'].tolist()[0]
tokenized = tokenizer.tokenize(sample)
input = tokenizer(sample)

[4, 7]

In [42]:
entity_indices = {
            'e1': (tokenized.index(ST.E1Open), tokenized.index(ST.E1Close)),
            'e2': (tokenized.index(ST.E1Open), tokenized.index(ST.E1Close))
            }
last_sep_idx = [idx for idx, tok in enumerate(tokenized) if tok == ST.SEP].pop()

In [27]:
sep_indices

[4]

In [13]:
input

{'input_ids': [101, 9167, 15001, 11261, 41605, 102, 9651, 99183, 102, 50266, 11489, 9405, 24974, 24683, 9477, 90578, 9625, 119376, 12692, 45725, 119549, 9651, 99183, 119550, 9637, 9376, 42771, 70186, 119547, 9167, 15001, 11261, 41605, 119548, 113, 12001, 57836, 114, 9590, 9706, 28396, 113, 13796, 19986, 114, 8843, 22634, 117, 9638, 9376, 42771, 22879, 9651, 99183, 10459, 9684, 46520, 11513, 9641, 119298, 11018, 9251, 11261, 9405, 24974, 118800, 27792, 16139, 119, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [119]:

e1_open, e1_close, e2_open, e2_close = sample[entity_cols].values
e1_open, e1_close, e2_open, e2_close

(30, 33, 19, 21)

In [131]:
data = load_data(Config.Train)

In [ ]:
data

In [138]:
data['input'] = data.apply(lambda x: attach_entities(x), axis=1)

In [128]:
def attach_entities(row: pd.Series):
    
    sentence = row['relation_state']
    e1_open, e1_close, e2_open, e2_close = row[entity_cols].values
    output = ''
    if e1_open > e2_open:
        output += sentence[:e2_open]
        output += ST.E2Open
        output += sentence[e2_open:e2_close+1]
        output += ST.E2Close
        output += sentence[e2_close+1:e1_open]
        output += ST.E1Open
        output += sentence[e1_open:e1_close+1]
        output += ST.E1Close
        output += sentence[e1_close+1:]
    else:
        output += sentence[:e1_open]
        output += ST.E1Open
        output += sentence[e1_open:e1_close+1]
        output += ST.E1Close
        output += sentence[e1_close+1:e2_open]
        output += ST.E2Open
        output += sentence[e2_open:e2_close+1]
        output += ST.E2Close
        output += sentence[e2_close+1:]
    return output

In [127]:
attach_entities(sample)

'영국에서 사용되는 스포츠 유틸리티 [E2]자동차[/E2]의 브랜드로는 [E1]랜드로버[/E1](Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.'

In [84]:
tokenizer = BertTokenizer.from_pretrained(PreTrainedType.MultiLingual)
tokenizer.add_special_tokens({'additional_special_tokens': [ST.E1Open, ST.E1Close, ST.E2Open, 
ST.E2Close]})

4

In [85]:
tokenizer

PreTrainedTokenizer(name_or_path='bert-base-multilingual-cased', vocab_size=119547, model_max_len=512, is_fast=False, padding_side='right', special_tokens={'unk_token': '[UNK]', 'sep_token': '[SEP]', 'pad_token': '[PAD]', 'cls_token': '[CLS]', 'mask_token': '[MASK]', 'additional_special_tokens': ['[E1]', '[/E1]', '[E2]', '[/E2]']})

In [24]:
sample = raw['e1'][0] + '[SEP]' + raw['relation_state'][0]
sample2 = raw['e1'][1] + '[SEP]' + raw['relation_state'][1]
sample + '[SEP]' + sample2

'랜드로버[SEP]영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.[SEP]민주당[SEP]선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석, 비례대표 30석)을 획득하는 데 그쳤다.'

In [87]:
sample = raw.iloc[0, :]

In [88]:
sample

relation_state    영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...
e1                                                             랜드로버
e1_start                                                         30
e1_end                                                           33
e2                                                              자동차
e2_start                                                         19
e2_end                                                           21
label                                                            17
Name: 0, dtype: object

In [89]:
rs = sample['relation_state']
e1_open_idx = sample['e1_start']
e1_close_idx = sample['e1_end']
e2_open_idx = sample['e2_start']
e2_close_idx = sample['e2_end']
e1_open_idx, e1_close_idx, e2_open_idx, e2_close_idx

(30, 33, 19, 21)

In [25]:
tokened = tokenizer(sample + '[SEP]' + sample2)

In [30]:
tokened['token_type_ids'] = [1 for _ in range(112)]

In [32]:
tokened

{'input_ids': [101, 9167, 15001, 11261, 41605, 102, 50266, 11489, 9405, 24974, 24683, 9477, 90578, 9625, 119376, 12692, 45725, 9651, 99183, 10459, 9376, 42771, 70186, 9167, 15001, 11261, 41605, 113, 12001, 57836, 114, 9590, 9706, 28396, 113, 13796, 19986, 114, 8843, 22634, 117, 9638, 9376, 42771, 22879, 9651, 99183, 10459, 9684, 46520, 11513, 9641, 119298, 11018, 9251, 11261, 9405, 24974, 118800, 27792, 16139, 119, 102, 9311, 16323, 21928, 102, 9428, 41521, 11489, 9311, 16323, 21928, 10892, 9960, 21386, 9665, 9637, 40958, 12030, 16888, 40958, 10530, 9954, 119251, 9290, 9309, 72087, 11817, 40958, 113, 58939, 17196, 10365, 40958, 117, 9379, 58762, 14423, 37824, 10244, 40958, 114, 9633, 9999, 118813, 12178, 9083, 8924, 90821, 119, 102], 'token_type_ids': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}