In [47]:
import os
import re
import sys
import pandas as pd
from transformers import BertTokenizer
from konlpy.tag import Mecab

sys.path.insert(0, '../')
from dataset import REDataset, COLUMNS
from tokenization import load_tokenizer
from tokenization import SpecialToken as ST
from config import PreTrainedType, Config

In [3]:
data = REDataset()

Load raw data...	preprocessing for 'Base'...	done!
Load Tokenizer...	done!
Apply Tokenization...	done!

In [7]:
tokenizer = BertTokenizer.from_pretrained(PreTrainedType.MultiLingual)

In [13]:
special_tokens_dict = {
    'additional_special_tokens': [ST.E1Open, ST.E1Close, ST.E2Open, ST.E2Close]}
tokenizer.add_special_tokens(special_tokens_dict)

2

In [72]:
sample

'영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)와 지프(Jeep)가 있으며, 이 브랜드들은 자동차의 종류를 일컫는 말로 사용되기도 한다.'

In [102]:
re.search(r"\([a-zA-Z가-힣0-9\s?]+\)", sample)

In [70]:
raw = pd.read_csv(Config.Train, sep='\t', header=None, names=COLUMNS)
raw = raw.drop(['id'], axis=1)

In [104]:
tagger = Mecab()

In [108]:
raw['tokenized'] = raw['relation_state'].apply(lambda x: tagger.pos(x))

In [115]:
IDX = 1
sample = data.data['relation_state'].tolist()[IDX]
sample_pos = tagger.pos(sample)

In [117]:
data.data.head()

,relation_state,e1,e1_start,e1_end,e2,e2_start,e2_end,label,input
0,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,30,33,자동차,19,21,17,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...
1,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,5,7,27석,42,44,0,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,..."
2,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,0,7,UEFA,9,12,6,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...
3,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르...",강수일,24,26,공격수,3,5,2,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르..."
4,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...,람캄행,0,2,퍼쿤 씨 인트라팃,32,40,8,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...

In [116]:
sample

'선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석, 비례대표 30석)을 획득하는 데 그쳤다.'

In [114]:
['NNG', 'NNP' 'NNB' 'NNBC' 'NR' 'NP' 'VV' 'VA' 'XR']

[('영국', 'NNP'),
 ('에서', 'JKB'),
 ('사용', 'NNG'),
 ('되', 'XSV'),
 ('는', 'ETM'),
 ('스포츠', 'NNG'),
 ('유틸리티', 'NNG'),
 ('자동차', 'NNG'),
 ('의', 'JKG'),
 ('브랜드', 'NNG'),
 ('로', 'JKB'),
 ('는', 'JX'),
 ('랜', 'NNG'),
 ('드로버', 'NNP'),
 ('(', 'SSO'),
 ('Land', 'SL'),
 ('Rover', 'SL'),
 (')', 'SSC'),
 ('와', 'JC'),
 ('지프', 'NNG'),
 ('(', 'SSO'),
 ('Jeep', 'SL'),
 (')', 'SSC'),
 ('가', 'JKS'),
 ('있', 'VA'),
 ('으며', 'EC'),
 (',', 'SC'),
 ('이', 'MM'),
 ('브랜드', 'NNG'),
 ('들', 'XSN'),
 ('은', 'JX'),
 ('자동차', 'NNG'),
 ('의', 'JKG'),
 ('종류', 'NNG'),
 ('를', 'JKO'),
 ('일컫', 'VV'),
 ('는', 'ETM'),
 ('말', 'NNG'),
 ('로', 'JKB'),
 ('사용', 'NNG'),
 ('되', 'XSV'),
 ('기', 'ETN'),
 ('도', 'JX'),
 ('한다', 'VV+EF'),
 ('.', 'SF')]