In [1]:
import sys
import pandas as pd
import numpy as np
sys.path.insert(0, '../')
from dataset import REDataset, load_data, load_test_dataset
from config import Config
from utils import load_pickle

from transformers import AutoTokenizer

In [5]:
train = load_data(Config.Train)
train.head()

,sentence,entity_01,entity_02,label
0,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,자동차,17
1,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,27석,0
2,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,UEFA,6
3,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르...",강수일,공격수,2
4,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...,람캄행,퍼쿤 씨 인트라팃,8

In [2]:
label = load_pickle(Config.Label)

In [4]:
class LabelEncoder:
    def __init__(self, meta_root: str=Config.Label):
        self.encoder = load_pickle(Config.Label)
        self.decoder = {j:i for j, i in self.encoder.items()}

    def transform(self, x):
        return self.encoder[x]
        
    def inverse_transform(self, x):
        return self.decoder[x]

SyntaxError: invalid syntax (<ipython-input-4-0d375db31127>, line 6)

In [33]:
COLUMNS = ['id', 'relation_state', 'e1', 'e1_start', 'e1_end', 
'e2', 'e2_start', 'e2_end', 'label']
train = pd.read_csv(Config.Train, sep='\t', header=None, names=COLUMNS)
train.head()

,id,relation_state,e1,e1_start,e1_end,e2,e2_start,e2_end,label
0,wikipedia-24896-25-30-33-19-21,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,30,33,자동차,19,21,단체:제작
1,wikipedia-12728-224-5-7-42-44,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,5,7,27석,42,44,관계_없음
2,wikipedia-28460-3-0-7-9-12,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,0,7,UEFA,9,12,단체:별칭
3,wikipedia-11479-37-24-26-3-5,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르...",강수일,24,26,공격수,3,5,인물:직업/직함
4,wikipedia-15581-6-0-2-32-40,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...,람캄행,0,2,퍼쿤 씨 인트라팃,32,40,인물:부모님

In [35]:
COLUMNS = ['id', 'relation_state', 'e1', 'e1_start', 'e1_end', 
'e2', 'e2_start', 'e2_end']
test = pd.read_csv(Config.Test, sep='\t', header=None).iloc[:, :-1]
test.columns = COLUMNS
test.head()

,id,relation_state,e1,e1_start,e1_end,e2,e2_start,e2_end
0,wikipedia-15133-19-0-2-45-46,"이은주의 첫 영화로, 그녀가 강수연(정화 역)의 동생 세화 역으로 출연한 박종원 감...",이은주,0,2,감독,45,46
1,wikitree-10241-0-0-4-9-11,경성대학교(총장 송수건) 미술학과 졸업예정 학생들이 부산 지역의 유망한 청년예술가에...,경성대학교,0,4,송수건,9,11
2,wikipedia-24909-38-83-89-45-48,하더라도 만일 그녀의 아들에게 계승시킬 수 있다면 영국 왕 에드워드 2세의 왕비 이...,에드워드 3세,83,89,이사벨라,45,48
3,wikitree-29775-2-38-43-17-18,정성으로 담근 700포기의 김장김치는 발굴된 저소득 가정 55세대에 새마을부녀회 회...,새마을부녀회,38,43,김치,17,18
4,wikipedia-20874-21-8-9-30-32,"노트북은 이들 정부에 판매될 것이며 ""하나의 노트북을 한 명의 어린이마다""라는 정책...",정부,8,9,한 명,30,32

In [38]:
test

,id,relation_state,e1,e1_start,e1_end,e2,e2_start,e2_end
0,wikipedia-15133-19-0-2-45-46,"이은주의 첫 영화로, 그녀가 강수연(정화 역)의 동생 세화 역으로 출연한 박종원 감...",이은주,0,2,감독,45,46
1,wikitree-10241-0-0-4-9-11,경성대학교(총장 송수건) 미술학과 졸업예정 학생들이 부산 지역의 유망한 청년예술가에...,경성대학교,0,4,송수건,9,11
2,wikipedia-24909-38-83-89-45-48,하더라도 만일 그녀의 아들에게 계승시킬 수 있다면 영국 왕 에드워드 2세의 왕비 이...,에드워드 3세,83,89,이사벨라,45,48
3,wikitree-29775-2-38-43-17-18,정성으로 담근 700포기의 김장김치는 발굴된 저소득 가정 55세대에 새마을부녀회 회...,새마을부녀회,38,43,김치,17,18
4,wikipedia-20874-21-8-9-30-32,"노트북은 이들 정부에 판매될 것이며 ""하나의 노트북을 한 명의 어린이마다""라는 정책...",정부,8,9,한 명,30,32
...,...,...,...,...,...,...,...,...
995,wikipedia-5911-11-14-18-21-23,"1940년 7월 10일, 나치 독일의 프랑스 침공으로 국회는 페텡에게 권력을 위임했다.",나치 독일,14,18,프랑스,21,23
996,wikipedia-17379-20-200-205-179-181,(하지만 Vasco는 '스핏파이어(spit fire)(spit fire)'란 프로젝...,DJ DOC,200,205,박정환,179,181
997,wikitree-59796-5-32-35-37-39,"또한 (사)한국여성농업인 광양시 연합회(도미화 회장)는 ㈜광양교통(이순심 대표)에,...",광양교통,32,35,이순심,37,39
998,wikipedia-1829-41-9-10-0-1,마코가 항의하자 벵어는 마코를 배신자로 부르며 학생들에게 마코를 처형대로 끌어내도록...,벵어,9,10,마코,0,1
999,wikipedia-15245-1-91-99-43-47,"도쿄도 출신으로 세이조 대학을 졸업, 1969년 12월 중의원 의원 총선거에 자유민...",나카소네 야스히로,91,99,자유민주당,43,47

In [3]:
tokenizer = AutoTokenizer.from_pretrained(Config.BertMultiLingual)
test_data = load_test_dataset(tokenizer=tokenizer)

In [5]:
test = load_data(Config.Test)

In [22]:
test.iloc[0, 0]

'이은주의 첫 영화로, 그녀가 강수연(정화 역)의 동생 세화 역으로 출연한 박종원 감독의 《송어》도 1998년에 촬영이 이루어졌다.'

In [15]:
tokenizer.decode(test_data[0]['input_ids'][0])

'[CLS] 이은주 [SEP] 감독 [SEP] 이은주의 첫 영화로, 그녀가 강수연 ( 정화 역 ) 의 동생 세화 역으로 출연한 박종원 감독의 《 송어 》 도 1998년에 촬영이 이루어졌다. [SEP] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD] [PAD]'

In [12]:
# bert input을 위한 tokenizing.
# tip! 다양한 종류의 tokenizer와 special token들을 활용하는 것으로도 새로운 시도를 해볼 수 있습니다.
# baseline code에서는 2가지 부분을 활용했습니다.
def tokenized_dataset(dataset, tokenizer):
    concat_entity = []
    for e01, e02 in zip(dataset["entity_01"], dataset["entity_02"]):
        temp = ""
        temp = e01 + "[SEP]" + e02
        concat_entity.append(temp)
    tokenized_sentences = tokenizer(
        concat_entity,
        list(dataset["sentence"]),
        return_tensors="pt",
        padding=True,
        truncation=True,
        max_length=100,
        add_special_tokens=True,
    )
    return tokenized_sentences

In [10]:
tokenizer = AutoTokenizer.from_pretrained(Config.BERTMultiLingual)
train_dataset = load_data(Config.Train)

In [14]:
train = tokenized_dataset(train_dataset, tokenizer=tokenizer)

In [26]:
train[0]

Encoding(num_tokens=100, attributes=[ids, type_ids, tokens, offsets, attention_mask, special_tokens_mask, overflowing])

In [27]:
train_label = train_dataset["label"].values